*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
 
 
 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Edu VIC WA NT Beginner", cursive;
     font-optical-sizing: auto;
     font-weight: bold;
     font-size: larger;
     font-style: normal;
     /* outline: 5px solid black; */
 }
 header {
     background-color: rgb(216, 109, 127);
     
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
     padding: 10px;
     color: white;
     font-size:x-large;

 }
 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
 }

 .ham-icon {
     display: none;
     border: none;
     background-color: transparent;
 }

 .ham-icon input[type="checkbox"] {
     appearance: none;
 }

 .navbar-links {
     list-style: none;
     display: flex;
     align-items: center;
     gap: 40px;
     font-size: 18px;
 }

 .navbar-links li {
     display: flex;
     align-items: center;
 }

 .navbar-links a {
     color: #fff;
 }

 .navbar-links a {
     color: #fff;
     text-decoration: none;
  font-size: large;
     padding: 0px 2px;
 }

 .navbar-links a::after {
     content: '';
     display: block;
     width: 0;
     height: 2px;
     background: black;
     transition: width .3s;
 }

 .navbar-links a:hover::after {
     width: 100%;
     transition: width .3s;
 }
 .logo img{
        height: 59px;
 }

 .banner {
     background-image: url(https://img.freepik.com/premium-photo/pink-shopping-bags_72104-1847.jpg?w=1060);
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
     background-position: center;
     width: -webkit-fill-available;
     padding: 0 80px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-size: 7.5rem;
     line-height:7rem ;
 }


 .banner h1 {
     color: rgb(181, 47, 91);
     font-family: "Great Vibes", cursive;
     font-weight: 600;
     font-style: normal;
 }

 .image-section {
     display: flex;
     gap: 10px;
     justify-content: center;
     top: 0 20px;
 }

 .section2 h1 {
     font-size: 3rem;
     margin: 1.5rem;
     text-align: center;
     font-weight: bold;
     padding-top: 20px;
     color: rgb(181, 47, 91);
 }

 .gallery {
     overflow-x: auto;
     white-space: nowrap;
     scroll-behavior: smooth;
     scroll-snap-type: x mandatory;
     -webkit-overflow-scrolling: touch;

 }

 .gallery-container {
     display: flex;
     align-items: center;
     flex-direction: row;
 }

 .gallery-item {
     flex: 0 0 auto;
     scroll-snap-align: start;
     box-sizing: border-box;
     padding: 10px;

 }

 .gallery-item img {
     display: block;
     height: auto;
     height: 70vh;
     width: 45vh;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transition: linear ease-in-out;
 }
#about{
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .news {
     background-color: #e3e6f3;
 }
 .section__container {
   
    margin: auto;
    width: 100vw;
}
 .section__title {
     padding-bottom: 0.5rem;
     margin-bottom: 2rem;
     text-align: center;
     font-size: 3rem;
     font-weight: 600;
    color:rgb(181, 47, 91); ;
     position: relative;
 }

 .section__title::after {
     content: "";
     position: absolute;
     left: 50%;
     bottom: 0;
     transform: translateX(-50%);
     height: 3px;
     width: 150px;
     background-color: black;
     
   
 }
 #about{
    margin-top: 6rem;
 }

 .news__card {
     display: grid;
     place-items: center;

 }

 #fab {
     height: 48vh;
     width: 20vw;
 }

 .news__card img {
     height: 50vh;
 }

 .news__grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: center;
     grid-gap: 2rem;
     width: 70vw;
     place-items: center;

 }

 .news__details {
     display: grid;
     text-align: center;
 }

 .news__details h4 {
     font-size: 20px;
     font-weight: 600;
     color: rgb(181, 47, 91);
 }
 .news__details p{
    font-size: 9em;
    margin-top: 2rem;
 }

 .section3 {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     place-items: center;
     width: 80%;
     margin: auto;
     margin-top: 6rem;
     background-color: #F5F4EF;
 }

 .word {
     padding: 56px;
     font-size: 2.5rem;
 }

 .word h1 {
     font-size: 32px;
     color: rgb(181, 47, 91);
     margin: 20px;
 }

 .word button {
     background: #000;
     color: #FFF;
     padding: 12px 30px;
     border-radius: 50px;
     font-size: 14px;
     border: none;
     margin-top: 2rem;
     /* width: 15vw; */
 }

 .word button:hover {
     background-color: rgb(181, 47, 91);
 }

 .pic img {
     object-fit: cover;
     width: 100%;
 }
 .section4{
    margin-top: 7rem;
 }
 .section4 p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(181, 47, 91);
    letter-spacing: 3px;
    margin-top: 20px;
}
.section4 .rows {
    display: flex;
    justify-content: space-around;
    padding: 0 48px;
    margin-top: 3rem;
    width: 80%;
    margin:  40px auto;
    align-items: center;
    text-align: center;

}
.row1,.row2,.row3,.row4{
    width: 18%;
}
.row1 h4{
    color: rgb(181, 47, 91);
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .05em;
    margin-bottom: 16px;
    margin-top: 32px;
    text-align: center;
    text-transform: uppercase;
}
.row1 p{
    color: #251d1d;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6; 
    margin: 0;
    padding: 0 8px;
    line-height: 1.6;
    text-align: center;
}
.row2 p{
    color:  #251d1d;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6; 
    margin: 0;
    padding: 0 8px;
    text-align: center;
}
.row3 p{
    color:  #251d1d;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6; 
    margin: 0;
    padding: 0 8px;
    text-align: center;
}
.row4 p{
    color:  #251d1d;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
    padding: 0 8px;
    text-align: center;
}
.row2 h4{
    color: rgb(181, 47, 91);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .05em;
    line-height:1.6;
    margin-bottom: 16px;
    margin-top: 32px;
    text-align: center;
    text-transform: uppercase;
}
.row3 h4{
    color: rgb(181, 47, 91);
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .05em;
    margin-bottom: 16px;
    margin-top: 32px;
    text-align: center;
    text-transform: uppercase;
}
.row4 h4{
    color: rgb(181, 47, 91);
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .05em;
    margin-bottom: 16px;
    margin-top: 32px;
    text-align: center;
    text-transform: uppercase;
}
.section5 {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    /* font-size: 1.2rem; */
    color: #888;
}
.header p{
    font-size: 18px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 15px;
    font-size: 1rem;
}

.text-section {
    padding: 20px;
}

.text-section h1 {
    color: #e91e63;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.text-section ul {
    list-style: none;
    font-size: 3.1rem;
    line-height: 1.8;
    padding-left: unset;
}

.text-section ul li {
    margin-bottom: 10px;
    
}

.image-section img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.apply-button {
    text-align: center;
}

.apply-button button {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.apply-button button:hover {
    background-color: #d81b60;
}

 .heading h1 {
     text-align: center;
     color: rgb(181, 47, 91);
     text-transform: capitalize;
     letter-spacing: 8px;
     font-size: 4rem;
 }
 #gallery{
    margin: 71px;
 }

 .container {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: repeat(11, 1fr);
     grid-template-rows: repeat(9, 100px);

 }

 .container img {
     width: 100%;
     height: 100%;
     object-fit: fill;
 }

 .box1 {
     grid-area: 1/2/span 4/span 3;



 }

 .box1:hover {
     filter: grayscale(100%)
 }

 .box2 {
     grid-area: 1/5/span 3/span 3;
 }

 .box2:hover {
     filter: grayscale(100%)
 }

 .box3 {
     grid-area: 4/5/span 3/span 4;
 }

 .box3:hover {
     filter: grayscale(100%)
 }

 .box4 {
     grid-area: 1/8/span 3/span 3;
 }

 .box4:hover {
     filter: grayscale(100%)
 }

 .box5:hover {
     filter: grayscale(100%)
 }

 .box5 {
     grid-area: 4/9/span 3/span 2;
 }

 .box6 {
     grid-area: 5/2/span 5/span 3;
 }

 .box6:hover {
     filter: grayscale(100%)
 }

 .box7 {
     grid-area: 7/5/span 3/span 3;
 }

 .box7:hover {
     filter: grayscale(100%)
 }

 .box8 {
     grid-area: 7/8/span 3/span 3;
 }

 .box8:hover {
     filter: grayscale(100%)
 }
 .auto {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f0f0f0;
  }
  
  .main .box {
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: 4rem;
  }
  .icon {
    font-size: -webkit-xxx-large;
    margin-top: -22px;
    padding-right: 20px;
}
  .main .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
  }
  
  .main .box:hover .content {
    transform: translate(3.5rem, 3.5rem);
  }
  
  .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  
  .imgBox img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    resize: both;
  }
  
  .letter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
  }
  
  .letter h2 {
    display: block;
    font-size: 2rem;
    color: #111;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
  }
  
  .letter span {
    color:black;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  @media (max-width: 600px) {
    .main.box:hover .letter {
      transform: translate(0, 3.5rem);
    }
    .main .box:hover .imgBox {
      transform: translate(0, -3.5rem);
    }
  }
 

.style {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 100px);
    margin-top: 30px;
    background-color: #e3e6f3;
}

.style img {

    width: 100%;
    height: 100%;
    object-fit: fill;
    border-top-right-radius: 24rem;
    border-top-left-radius: 24rem;

}

 .para h3 {
     text-align: center;
     color: rgb(181, 47, 91);
     text-transform: capitalize;
     letter-spacing: 8px;
     margin: 3rem;
     font-size: 3rem;
 }

 

 .left {
     grid-area: 2/2/span 5/span 4;

 }

 .right {
     grid-area: 3/7/span 5/ span 4;
 }

 .right h6 {
     font-size: 3.5rem;
     margin: 1.5rem;
     text-align: center;
     color: rgb(181, 47, 91);
     text-transform: capitalize;
     letter-spacing: 5px;

 }

 .left p {
     margin-top: 2rem;
     font-size: large;

 }
 

 footer {
     margin-top: 4em;
     background-color: rgb(214, 83, 127);
     color: #fff;
     padding: 20px;
     text-align: center;
 }

 .footer-container {
     display: flex;
     justify-content: space-between;
     max-width: 1200px;
     margin: 0 auto;
     flex-wrap: wrap;
 }

 .footer-section {
     flex: 1;
     padding: 10px;
 }

 .footer-section h3 {
     margin-top: 0;
     font-size: 30px;
     line-height: 2em;
 }

 .footer-section p {
     font-size: 20px;
     line-height: 2em;
 }

 .social-media {
     list-style: none;
     padding: 0;
 }
 
 .social-media i{
    font-size: 3.5rem;
 }
 .social-media li {
     display: inline;
     margin: 0 10px;
 }

 .social-media a {
     color: #fff;
     text-decoration: none;
     font-size: 30px;
 }

 .social-media a:hover {
     text-decoration: underline;
 }

 form {
     display: flex;
     flex-direction: column;
 }

 form input {
     padding: 10px;
     border: none;
     border-radius: 5px;
     margin-bottom: 10px;

 }

 form button {
     padding: 10px;
     border: none;
     border-radius: 5px;
     background-color: #d73a54;
     color: #fff;
     font-size: 16px;
     cursor: pointer;
 }

 form button:hover {
     background-color: black;
 }

 @media only screen and (min-width: 300px) and (max-width: 575px) {


     .navbar {
         flex-direction: row;
         flex-wrap: wrap;
         padding: 20px 0 10px 10px;
         justify-content: space-between;


     }

     .navbar-center {
         order: 1;
     }

     .navbar-links {
         order: 3;
         width: 100%;
         flex-direction: column;
         width: 100%;
         align-items: center;
         justify-content: space-between;
         gap: 0.7rem;
         height: 0;
         overflow: hidden;
         padding: 0;
     }

     .ham-icon {
         display: block;
         order: 2;
     }

     i.fa-solid.fa-x {
         display: none;
     }

     .fa-x,
     .fa-bars {
         color: white;
         font-size:51px;
         margin: 10px;
     }

     .navbar:has(input[type="checkbox"]:checked) .navbar-links {
         margin-top: 1rem;
         height: 270px;
     }

     .navbar:has(input[type="checkbox"]:checked) .fa-bars {
         display: none;
     }

     .navbar:has(input[type="checkbox"]:checked) .fa-x {
         display: inline-block;
     }

     .navbar-links i {
         display: none;
     }

     .news__grid {
         grid-template-columns: 1fr;
     }

     .section3 {
         grid-template-columns: 1fr;
     }

     .grid-container {
         grid-template-columns: 1fr;
         place-items: center;
     }

     .style {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(1, 100px);
     }

     .style img {
         height: 55vh;
     }

     .banner {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         justify-content: center;
         padding: 0 35px;
     }

     #fab {
         height: 48vh;
         width: 60%;
     }
     .section__title {
        text-align: center;
     }

     .news__card img {
         height: 50vh;
         width: 100%;
     }

     .container {
         display: grid;
         grid-gap: 10px;
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: repeat(1, 100px);
     }
    .section4 .rows{
        display: flex;
        flex-direction: column;
    }
    .section4 p{
        font-size: 15px;
    }
    #gallery {
        margin: 20px;
    }

     .left {
         grid-area: 1 / 2 / span 1 / span 9;
     }

     .right {
         grid-area: 46 / 1 / span 2 / span 10;
     }

     .footer-section {
         text-align: center;
         /* width: 100%; */
         padding: 10px;
     }
      .content {
        display: grid;
        grid-template-columns: 1fr;
    }


 }

 @media only screen and (min-width: 575px) and (max-width: 768px) {
     .banner {
         padding: 0px, 45px;
         font-size: 32px;
     }

     #fab {
         height: 48vh;
         width: 90%;
     }
     .section4 .rows{
        display: flex;
        flex-direction: column;
    }

     .news__grid {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         justify-content: center;
     }

     .section3 {
         grid-template-columns: 1fr;
     }

     .grid-container {
         grid-template-columns: repeat(2, 1fr);
     }

     .style {
         grid-template-rows: repeat(9, 100px);
     }
     .news__details p{
        font-size: 20px;
     }
      .content{
        display: grid;
        grid-template-columns: 1fr;
     } 

     .footer-container {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         flex-direction: column;
     }
     .text-section h1 {
        font-size: 17px;
 }
}

 @media only screen and (min-width: 768px) and (max-width: 991px) {

     .grid-container {
         grid-template-columns: repeat(2, 1fr);
     }


     .news__details h4 {
         font-size: 4rem;
     }

     .news__details p {
         font-size: 2rem;
     }

     .grid-item img {
         height: 100%;
     }

     .content {
         font-size: 2rem;
     }

     .news__grid {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
     }
     .style{
        display: grid;
        grid-template-rows: repeat(9, 100px);
        
     }
     .section h1{
        text-align: center;
     }
     .section ul{
        text-align: center;
     }
 }

 @media (max-width: 740px) {
     .icon {
         display: none;
     }
 }

 @media (max-width: 850px) {
     .banner {
         background-position: top 10% right 30%;
     }

     .text {
         font-size: 35px;
         width: 100%;
         text-align: center;
     }

     h2 {
         font-size: 25px;
     }

     .banner h1 {
         font-size: 30px;
     }

 }
 @media  only screen and (min-width:360px) and (max-width:575px){
 
  
    .section4 .rows{
        display: flex;
        flex-direction: column;
    }
    .section4 p{
        font-size: 15px;
    }
    #gallery {
        margin: 20px;
    }
    
 }